# Easier navigation: .., ..., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"


# Shortcuts
alias db="cd ~/Dropbox"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias co="cd ~/Code"
alias h="history"
alias dot="cd ~/dotfiles"



# Unix
alias cls="clear"
alias ll="ls -al"
alias ln="ln -v"
alias rmd="rm -rf"
alias e="$EDITOR"
alias v="$VISUAL"


# Rails
alias rsb="rails s -b 0.0.0.0"
alias rgm="rails generate model"
alias rgc="rails generate contoller"
alias rgs="rails generate scaffold"
alias b="bundle"


# npm
alias npmp="npm publish"
alias npma="npm adduser"
alias npmi="npm install"
alias npmg="npm install -g"
alias npmu="npm update"
alias npmr="npm uninstall"
alias npmrg="npm uninstall -g"

# server guick starts
alias bs="browser-sync start --server --files '**/*.html,**/*.css,**/*.js'"
alias live="live-server"
alias pss="python -m SimpleHTTPServer 8000"





#Run the last command as root
alias reload=". ~/.zshrc && echo 'ZSH config reloaded from ~/.zshrc'"

# Pretty print the path
alias path='echo $PATH | tr -s ":" "\n"'

# Include custom aliases
[[ -f ~/.aliases.local ]] && source ~/.aliases.local


#	----------	OSX -------------

if [ "$(uname)" == "Darwin" ]; then
	alias subl='/Applications/Sublime\ Text.app/Contents/SharedSupport/bin/subl' 
fi



#	----------	Ubuntu ----------

if [ "$(uname)" == "Linux" ]; then
	alias pbcopy='xclip -selection clipboard'
	alias pbpaste='xclip -selection clipboard -o'
fi
